/* 基本色 */
:root {
  --main-color : #fff; /*rgba(255, 255, 255, 0)*/
  --accent-color : #ececec;
  --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
  --large-width:1000px;
  --middle-width:800px;
  --small-width:450px;
}


 /** クラス指定の先頭の文字列がtitleだったらという指定*/
[class^="title"] {
  font-size: 24px;
  line-height: 2;
}

.scrollbox,
.header__menu,
.header__menu-bar{
  width: 100vw;
}

.header,
.header__menu,
.header__menu-bar{
  max-width: var(--small-width);
}

/* ------------------------------ */
 /* hero-top */


.conA__image,
.conB__image,
.conC__image,
.foot__image{
  width: 100%;
  height:auto;
  z-index: 100;

}

/* hero-top */
/* ------------------------------ */

/* ------------------------------ */
/* conB */

/* conB */
/* ------------------------------ */
/* conC */

/* conC*/
/* ------------------------------ */
/* conD*/

/* conD*/
/* ------------------------------ */